<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>semicircle progress</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="6">
            <div class="semi-progress">
                <round-progress [current]="current" [max]="max" [color]="'#45ccce'" [background]="'#eaeaea'" [radius]="80" [stroke]="20" [semicircle]="true" [rounded]="true" [clockwise]="true" [responsive]="false">
                </round-progress>
                <div class="percent">
                    <ion-label>{{percent}}%</ion-label>
                </div>
            </div>
        </ion-col>
        <ion-col size="6">
            <div class="semi-progress">
                <round-progress [current]="current" [max]="max" [color]="'#45ccce'" [background]="'#eaeaea'" [radius]="80" [stroke]="20" [semicircle]="false" [rounded]="true" [clockwise]="false" [responsive]="false">
                </round-progress>
                <div class="percent">
                    <ion-label>{{percent}}%</ion-label>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-content>