.bar {
    width: 100%;
    height: 95px !important;
    border-bottom: 1px solid #e3e3e3;
    background: var(--color-white) !important;
    font-weight: bold;
    .d-flex {
        display: flex !important;
        justify-content: space-between;
    }
    .progress-bar.d-flex {
        width: 70%;
        margin: 0 auto;
        position: relative;
        padding-top: 30px;
    }
    .progress-bar::before {
        content: "";
        width: 43%;
        height: 2px;
        border-top: 3px solid #048CF2;
        position: absolute;
        top: 80%;
        left: 5%;
        z-index: 0;
        opacity: 0.5;
    }
    .progress-bar::after {
        content: "";
        width: 43%;
        height: 2px;
        border-top: 3px solid #048CF2;
        position: absolute;
        top: 80%;
        right: 5%;
        z-index: 0;
        opacity: 0.5;
    }
    .progress-bar ion-icon {
        --ionicon-stroke-width: 100px;
        background: var(--color-white)!important;
        color: var(--font-color);
        z-index: 1;
    }
    .progress-bar-text.d-flex {
        width: 80%;
        margin: 0 auto;
        position: relative;
        padding-right: 15px;
        padding-bottom: 28px;
        ion-label {
            color: #1A222C;
            opacity: 0.4;
        }
        .selectText {
            color: #048CF2;
            opacity: 1;
        }
        .progress-bar-text-center {
            padding-right: 10px;
        }
    }
    .selectIcon {
        font-weight: bold;
        color: #048CF2 !important;
    }
    .unselectIcon {
        font-weight: bold;
        color: #E3E3E3 !important;
    }
}

.register-form {
    ion-grid,
    ion-row,
    ion-col,
    p,
    div,
    ion-input,
    hr,
    ion-datetime,
    ion-select,
    ion-textarea {
        padding: 0px;
        margin: 0px;
    }
    ion-item {
        --background: #FFFFFF;
        --background-hover: #AEE0FD !important;
        --background-hover-opacity: 1 !important;
    }
    .ion-activated {
        --background: #AEE0FD;
        opacity: 1;
    }
    .enterText {
        padding: 25px 0px 10px 20px;
        font-size: 13px;
        letter-spacing: 0.23px;
        color: #878B90;
        font-family: 'Hiragino-Sans';
    }
    ion-col {
        display: flex;
        align-items: center;
        p {
            color: #1A222C;
            font-size: 13px;
            letter-spacing: 0.23px;
            font-weight: normal;
            font-family: 'Hiragino-Sans';
        }
    }
}