@import "../../../global.scss";
ion-header {
    ion-title {
        font-size: 14px;
        color: #1A222C;
        letter-spacing: 0.24px;
        font-weight: bold;
        font-family: 'Hiragino-Sans';
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-back {
        width: 32px;
        height: 32px;
        --background: var(--color-white);
        --padding-start: 0px;
        --padding-end: 0px;
        --background-activated: none;
        ion-icon {
            color: #1A222C;
            font-size: 18px;
        }
    }
}

.header-md::after {
    /* Removes the toolbar shadow. */
    background: none;
    border-bottom: 1.5px solid var(--background-grey);
    bottom: -1px!important;
    background-position: left 0 top -2px!important;
}

ion-content {
    --background: #F5F5F5;
    *,
    p,
    div {
        padding: 0px;
        margin: 0px;
    }
    .segmet {
        width: 100%;
        height: 44px;
        background: white;
        box-shadow: 0 2px 1px 0 rgb(0 0 0 / 9%);
        top: 46px;
        position: fixed;
        ion-button {
            width: 50%;
            height: 44px;
            font-size: 13px;
            font-family: 'Hiragino-Sans';
            font-weight: bold;
            letter-spacing: 0.28px;
            --ripple-color: white;
            --background: none;
            --background-activated: none;
            --color: #757A80;
            --color-activated: #048CF2;
            --box-shadow: none;
            --padding-start: 0px;
            --padding-end: 0px;
            padding: 0px 20px;
        }
        .selectedbutton {
            --color: #048CF2;
            border-bottom: 3px solid;
        }
    }
    .task {
        height: calc(100% - 64px);
        text-align: center;
        margin-top: 60px;
        .no-task {
            height: 84%;
            padding: 0px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .check-icon {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
            .no-task-title {
                font-size: 16px;
                font-family: 'SF-UI-Display';
                font-weight: bold;
                letter-spacing: 0.28px;
                color: #757A80;
                padding: 27px 0px 17px;
            }
            .no-task-body {
                font-size: 14px;
                letter-spacing: 0.17px;
                font-family: 'SF-UI-Display';
                color: #757A80;
            }
        }
    }
    .schedule {
        margin-top: 44px;
        z-index: -10;
        position: relative;
        .calendar-content {
            padding: 18px 16px 0px 16px;
            background: white;
            .moveSlideRow {
                padding: 0px 5px 5px;
                background: white;
                .move-slice-button {
                    text-align: right;
                }
                .calendarIcon {
                    color: #048CF2;
                    font-size: 18px;
                    font-weight: normal;
                }
                .margin-right {
                    margin-right: 11px;
                }
                .current {
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: 0.28px;
                    color: #048CF2;
                    font-family: 'Hiragino-Sans';
                    padding-left: 10px;
                }
            }
            .weekDaysRow {
                padding: 8px 0px;
                background: white;
                font-size: 12px;
                color: #757A80;
                letter-spacing: 0.28px;
                font-family: 'Hiragino-Sans';
                border-bottom: 1px solid #E3E3E3;
                .weekDaysColumn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                }
                .sun {
                    color: #FF3B30;
                }
                .sat {
                    color: #007AFF;
                }
            }
            .current-month {
                color: #1A222C;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 0.23px;
                font-family: 'SF-UI-Display';
            }
            .calendar-background {
                background: white;
            }
            .indicator-container {
                height: 5px;
                display: flex;
                justify-content: center;
                text-align: center;
                position: absolute;
                bottom: 5px;
                left: 0;
                right: 0;
            }
            .event-indicator {
                width: 5px;
                height: 5px;
                border-radius: 5px;
                display: table-cell;
                margin-top: 3px;
                margin-left: 2px;
            }
            .with-event {
                width: 100%;
                display: flex;
                text-align: center;
                justify-content: center;
            }
            .currentDate {
                background: #1A222C!important;
                color: white;
                border-radius: 50%;
            }
            .selectedDate {
                background-color: #E3E3E3!important;
                color: #757A80!important;
                border-radius: 50%;
            }
        }
        .no-schedule {
            height: 100%;
            text-align: center;
            margin-top: 80px;
            .no-schedule-icon {
                width: 48px;
                height: 48px;
            }
            .no-schedule-title {
                font-size: 14px;
                letter-spacing: 0.28px;
                font-family: 'Hiragino-Sans';
                font-weight: bold;
                padding-top: 20px;
            }
            .no-schedule-body {
                font-size: 14px;
                font-family: 'Hiragino-Sans';
                font-weight: normal;
                letter-spacing: 0.24px;
                color: #757A80;
                padding-top: 20px;
            }
        }
    }
    .task-list {
        background: white;
        margin-top: 20px;
        .task-list-item {
            display: flex;
            padding: 20px 16px;
            border-bottom: 1px solid #F5F5F5;
            .task-list-item-img {
                width: 48px;
                height: 48px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .task-list-item-data {
                width: calc(100% - 48px);
                padding-left: 16px;
                .task-list-item-data-title {
                    font-size: 13px;
                    font-family: 'Hiragino-Sans';
                    font-weight: bold;
                    letter-spacing: 0.23px;
                    text-align: left;
                    color: #1A222C;
                }
                .task-list-item-data-time {
                    text-align: left;
                    display: flex;
                    padding-top: 2px;
                    p {
                        padding-left: 6px;
                        font-size: 10px;
                        color: #93979B;
                        font-family: 'Hiragino-Sans';
                        letter-spacing: 0.24px;
                    }
                }
            }
        }
    }
    .schedule-list {
        margin-top: 10px!important;
    }
}

:host ::ng-deep {
    td.text-muted {
        visibility: hidden;
    }
    .monthview-datetable {
        border: 0 !important;
        td,
        th {
            height: 45px !important;
            color: #000;
            border: 0 !important;
            padding: 10px 10px !important;
            background-color: transparent!important;
            display: table-cell;
            justify-content: center;
            align-items: center;
            line-height: 24px !important;
            position: relative;
        }
    }
    .calendar-day {
        width: 25px;
        border-radius: 50%;
    }
    .success {
        background-color: green;
    }
    .primary {
        background-color: red;
    }
    .warning {
        background-color: blue;
    }
    .danger {
        background-color: orange;
    }
    .gray {
        background-color: darkgray;
    }
}

.testSchedule,
.testScheduleStart,
.testScheduleEnd {
    width: 102% !important;
    background-color: orange;
    position: absolute;
    left: 0;
}

.testScheduleStart {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.testScheduleEnd {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}