<ion-header no-shadow no-border>
    <ion-toolbar mode='ios'>
        <ion-title>やることリスト</ion-title>
        <ion-button class="btn-back" (click)="backButtonClick()">
            <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="segmet">
        <ion-button (click)="segmentClick('task')" [ngClass]="taskSegment">
            タスク
        </ion-button>
        <ion-button (click)="segmentClick('schedule')" [ngClass]="scheduleSegment">
            スケジュール
        </ion-button>
    </div>

    <div class="task" *ngIf="showTask">
        <div class="no-task" *ngIf="taskList.length == 0">
            <div>
                <img src='assets/icon/check.svg' class="check-icon">
                <p class="no-task-title">やることはありません</p>
                <p class="no-task-body">あなたにやって欲しいことがここに表示されます例）面談のお知らせ、自己評価など</p>
            </div>
        </div>
        <div class="task-list" *ngIf="taskList.length != 0">
            <div class="task-list-item" *ngFor="let task of taskList">
                <div class="task-list-item-img">
                    <img src={{checkTaskType(task.task_type)}}>
                </div>
                <div class="task-list-item-data">
                    <p class="task-list-item-data-title">{{task.task_name}}</p>
                    <div class="task-list-item-data-time">
                        <img src="assets/icon/time.svg">
                        <p>{{timeAgoSinceDate(task.created_at)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="schedule" *ngIf="!showTask">
        <div class="ion-padding calendar-content">
            <ion-row class="moveSlideRow">
                <ion-col size="3">
                    <p class="current">今日</p>
                </ion-col>
                <ion-col size="6" class="ion-text-center">
                    <p class="current-month">{{ viewTitle }}</p>
                </ion-col>
                <ion-col size="3" style="text-align: center;">
                    <div class="move-slice-button">
                        <ion-icon name="chevron-back-outline" slot="icon-only" class="calendarIcon margin-right" (click)="back()"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="icon-only" class="calendarIcon" (click)="next()">
                        </ion-icon>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="weekDaysRow">
                <ion-col *ngFor="let value of weekdays; let i=index;" class="weekDaysColumn" [ngClass]="i == 0? 'sun' : i == 6? 'sat': ''">
                    {{value}}
                </ion-col>
            </ion-row>
            <div class="calendar-background">
                <calendar [calendarMode]="calendar.mode" [noEventsLabel]="calendar.noEventsLabel" [allDayLabel]="calendar.allDayLabel" [currentDate]="calendar.currentDate" [eventSource]="eventSource" (onCurrentDateChanged)="onCurrentDateChanged($event)" (onRangeChanged)="reloadSource($event)"
                    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" [autoSelect]="false" step="30" [monthviewDisplayEventTemplate]="template">
                </calendar>
            </div>
            <ng-template #template let-view="view" let-row="row" let-col="col">
                <div [ngClass]="getCustomClass(view.dates[row*7+col].events,view.dates[row*7+col].label)" [class.with-event]="view.dates[row*7+col].events.length">
                    <div [ngClass]="view.dates[row*7+col].current == true ? 'currentDate' : view.dates[row*7+col].selected == true ? 'selectedDate' : ''" class="calendar-day" (click)="dataCarry(view.dates[row*7+col])">
                        {{view.dates[row*7+col].label}}
                    </div>
                </div>
                <div class="indicator-container">
                    <div class="event-indicator {{ view.dates[row*7+col].events[i]?.color }}" *ngFor="let e of view.dates[row*7+col].events; let i = index"></div>
                </div>
            </ng-template>
        </div>

        <div class="no-schedule" *ngIf="scheduleList.length == 0">
            <div>
                <img src='assets/icon/schedule-calendar-icon.svg' class="no-schedule-icon">
                <p class="no-schedule-title">イベントはありません</p>
                <p class="no-schedule-body">面談日程や中間評価期限などの<br> スケジュールが表示されます
                </p>
            </div>
        </div>
        <div class="task-list schedule-list" *ngIf="scheduleList.length != 0">
            <div class="task-list-item" *ngFor="let schedule of scheduleList">
                <div class="task-list-item-img">
                    <img src={{checkTaskType(schedule.task_type)}}>
                </div>
                <div class="task-list-item-data">
                    <p class="task-list-item-data-title">{{schedule.task_name}}</p>
                    <div class="task-list-item-data-time">
                        <img src="assets/icon/time.svg">
                        <p>{{timeAgoSinceDate(schedule.created_at)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>