<ion-content>
    <div class="logo">
        <img src="assets/images/logo_v.png" alt="Logo">
        <p>あなたらしい“道”を応援 <br> 自分でつくる成長プログラム</p>
    </div>
    <div class="login-div">
        <button class="ion-button login-btn">はじめる</button>
        <div class="already-acc">
            <ion-row>
                <ion-col size="8">
                    <p>アカウント登録済みの方はこちら</p>
                </ion-col>
                <ion-col size="4">
                    <button class="ion-button" (click)="checkShowModal()">ログイン</button>
                </ion-col>
            </ion-row>
        </div>
    </div>

</ion-content>