<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Phone Authentication</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="ion-padding">

        <ion-item>
            <ion-label position="floating">Enter Phone No.</ion-label>
            <ion-input type="number" name="number" [(ngModel)]="number"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="sendOtp()">Send OTP</ion-button>
    </ion-card>
</ion-content>