.bar {
    width: 100%;
    height: 95px !important;
    border-bottom: 1px solid #e3e3e3;
    background: var(--color-white) !important;
    font-weight: bold;
    .d-flex {
        display: flex !important;
        justify-content: space-between;
    }
    .registration-bar.d-flex {
        width: 70%;
        margin: 0 auto;
        position: relative;
        padding-top: 30px;
        .selectIcon {
            font-weight: bold;
            color: #048CF2 !important;
        }
        .unselectIcon {
            font-weight: bold;
            color: #E3E3E3 !important;
        }
    }
    .registration-bar::before {
        content: "";
        width: 43%;
        height: 2px;
        border-top: 3px solid #E3E3E3;
        position: absolute;
        top: 80%;
        left: 5%;
        z-index: 0;
        opacity: 0.5;
    }
    .registration-bar::after {
        content: "";
        width: 43%;
        height: 2px;
        border-top: 3px solid #E3E3E3;
        position: absolute;
        top: 80%;
        right: 5%;
        z-index: 0;
        opacity: 0.5;
    }
    .registration-bar.connectedBarColorNone::before,
    .registration-bar.connectedBarColorNone::after {
        border-top: 3px solid #E3E3E3;
    }
    .registration-bar.connectedBarColorOne::before {
        border-top: 3px solid #048CF2;
    }
    .registration-bar.connectedBarColorOne::after {
        border-top: 3px solid #E3E3E3;
    }
    .registration-bar.connectedBarColorTwo::before,
    .registration-bar.connectedBarColorTwo::after {
        border-top: 3px solid #048CF2;
    }
    .registration-bar ion-icon {
        --ionicon-stroke-width: 100px;
        background: var(--color-white)!important;
        color: var(--font-color);
        z-index: 1;
    }
    .registration-bar-text.d-flex {
        width: 80%;
        margin: 0 auto;
        position: relative;
        padding-right: 15px;
        padding-bottom: 28px;
        ion-label {
            color: #1A222C;
            opacity: 0.4;
        }
        .registration-bar-text-center {
            padding-right: 10px;
        }
        .selectIcon {
            font-weight: bold;
            color: #048CF2 !important;
            opacity: 1;
        }
        .unselectIcon {
            font-weight: bold;
        }
    }
}